@use 'quasar/src/css/index.sass' as *;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* src/css/global.css */
.q-btn__content {
  text-transform: none !important;
}
